.carouselContainer {
    display: flex;
    background-color: black;
    // border:10px solid red;
    justify-content: center;
}

.carousel {
    position: relative;
    //    border:1px solid red
}



.previous {
    position: absolute;
    left: 1rem;
    top: 50%;
    cursor: pointer;
}

.next {
    position: absolute;
    right: 1rem;
    top: 50%;
    cursor: pointer;

}

.details {
    position: absolute;
    top: 75%;
    margin: auto;
    width: 100%;
    // left:50%;
    text-align: center;
    color: white;
}

.hide {
    display: none;
}

img {
    object-fit: contain;
}

.error {
    background-color:red;
    padding: 1rem;
}